*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root{
    --text-color: #262626;
    --button-background: #0067b8;
    --text-blue: #005CA5;
}

.main-container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.navbar{
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
}
.navbar .menu-icon{
    display: none;
}
.microsoft-logo{
    height: 100%;
    width: 15%;
    display: flex;
    padding-right: 2.5vw;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.nav-logo{
    width: 55%;
}
.nav-menu-left{
    height: 100%;
    width: 55%;
}
.nav-menu-right{
    height: 100%;
    width: 30%;
}
.dock{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}
.dock li{
    list-style-type: none;
    margin: 0 1vw;
}
.dock a{
    text-decoration: none;
    color: var(--text-color);
}
.dock a:hover{
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
}

@media (max-width: 1024px){
    .nav-logo{
        width: 90%;
    }
    .dock li .label{
        display: none;
    }
    .east{
        justify-content: flex-end;
    }
    .east li{
        list-style-type: none;
        margin: 0 1.5vw;
    }
    .east li i{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .navbar .menu-icon{
        display: block;
        font-size: 20px;
        position: relative;
    }
    .microsoft-logo{
        height: 100%;
        width: 60%;
        display: flex;
        padding-right: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav-logo{
        width: 25%;
        margin-left: 3vw;
    }
    .nav-menu-left{
        display: none;
    }
    .nav-menu-right{
        width: max-content;
        font-size: 28px;
    }
    .east li:first-child{
        display: none;
    }
    .east li:nth-child(2){
        position: absolute;
        left: 6vw;
        top: 0;
        font-size: 28px;
    }
}

/*NAVBAR COMPLETED*/
/*CAROUSAL CSS*/
.hero-carousel{
    width: 100%;
}
.carousel-item{
    position: relative;
}
.surface-laptop-text{
    position: absolute;
    z-index: 1;
    height: 200px;
    top: 18vh;
    left: 10%;
    width: 500px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.surface-laptop-text button{
    height: 35px;
    width: 100px;
    font-size: 16px;
    background: var(--button-background);
    color: #fff;
    border: none;
    border-radius: 2px;
}
.surface-laptop-text button:hover{
    background: var(--text-blue);
}

@media (max-width: 1024px){
    .surface-laptop-text{
        /*background: green;*/
        top: 9vh;
        left: 5%;
        width: 400px;
    }
    .surface-laptop-text h1{
        font-size: 28px;
    }
}

@media (max-width: 768px){
    .surface-laptop-text{
        top: 5vh;
        left: 4%;
        height: 175px;
        width: 300px;
    }
    .surface-laptop-text h1{
        font-size: 24px;
    }
    .surface-laptop-text p{
        font-size: 14px;
    }
    .surface-laptop-text button{
        height: 30px;
        width: 90px;
        font-size: 14px;
        font-weight: 600;
    }
}

/*CAROUSEL CSS COMPLETE*/
/*ICONS-TRAY CSS BEGINS*/
.icons-tray{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tray-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1vw;
    color: var(--text-blue);
}
.tray-image{
    width: 35px;
    margin: 1vw 0;
}
.tray-item a{
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .icons-tray{
        flex-wrap: wrap;
    }
    .tray-item{
        margin: 0 3vw;
    }
    .tray-image{
        width: 30px;
    }
    .tray-item a{
        font-size: 14px;
    }
}
/*ICONS-TRAY CSS COMPLETE*/
/*TOOLS LAYOUT CSS BEGINS*/
.tools{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tools-card{
    height: 400px;
    width: 310px;
    margin: 0 1vw;
    color: #000;
}
.tools-card img{
    height: 175px;
    object-fit: cover;
    margin-bottom: 0.5vw;
}
.double{
    display: flex;
    flex-direction: column;
}
.tools-card a{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5vw;
    color: var(--text-blue);
}

.tools-card i{
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: var(--text-blue);
    margin: -3px 2px 0 2px;
    transition: transform 0.2s ease-in-out;
}

.tools-card a:hover > i{
    transform: translateX(5px);
}

@media (max-width: 1024px){
    .tools{
        width: 100%;
    }
    .tools-card{
        height: 450px;
        width: 400px;
        margin: 0 10px;
        flex-grow: 1;
    }
    .tools-card img{
        width: 100%;
        height: max-content;
        margin: 1vw 0;
    }
    .tools-card h3{
        font-size: 22px;
    }
    .double{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .double a:nth-child(2){
        margin: 0 5vw;
    }
}

@media (max-width: 768px){
    .tools-card{
        height: 375px;
        width: 300px;
        margin: 0 10px;
        flex-grow: 1;
    }
    .tools-card h3{
        font-size: 20px;
    }
    .tools-card p,.hyper{
        font-size: 14px;
    }
}
/*AI INNOVATION CSS BEGINS*/
.ai{
    margin: auto;
    width: 90%;
    position: relative;
}
.ai img{
    width: 100%;
}
.overlay-text{
    position: absolute;
    margin: auto;
    z-index: 1;
    height: 300px;
    top: 120px;
    left: 120px;
    width: 400px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.overlay-text h2{
    font-size: 36px;
}
.overlay-text button{
    height: 35px;
    width: 100px;
    font-size: 16px;
    background: var(--button-background);
    color: #fff;
    border: none;
    border-radius: 2px;
}
.overlay-text button:hover{
    background: var(--text-blue);
}

@media (max-width: 1024px){
    .ai{
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .overlay-text{
        height: 300px;
        width: 400px;
        top: 4vw;
        left: 5vw;
    }
    .overlay-text h2{
        font-size: 32px;
    }
}

@media (max-width: 768px){
    .overlay-text{
        height: 200px;
        width: 330px;
        top: 6vw;
        left: 6vw;
    }
    .overlay-text h2{
        font-size: 24px;
    }
    .overlay-text p{
        font-size: 14px;
    }
    .overlay-text button{
        height: 30px;
        width: 90px;
        font-size: 14px;
        font-weight: 600;
    }
}
/*AI INNOVATION CSS COMPLETE*/

/*FOR BUSINESS CSS BEGINS*/
.business{
    width: 90%;
    margin: auto;
}
.business h2{
    padding: 1vw 0;
}
.business-tray{
    display: flex;
    justify-content: space-between;
}
.business-card{
    height: 450px;
    width: 315px;
    margin: 0;
    color: #000;
}
.business-card img{
    width: 315px;
    object-fit: cover;
    margin-bottom: 0.25vw;
}
.business-card h3{
    margin: 1vw 0;
}
.business-card a{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.25vw;
    color: var(--text-blue);
}

.business-card i{
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: var(--text-blue);
    margin: -3px 2px 0 2px;
    transition: transform 0.2s ease-in-out;
}

.business-card a:hover > i{
    transform: translateX(5px);
}

@media (max-width:1024px) {
    .business{
        width: 100%;
    }
    .business h2{
        margin: 2vw 1vw;
        font-size: 20px;
    }
    .business-tray{
        flex-wrap: wrap;
    }
    .business-card{
        height: 450px;
        width: 400px;
        margin: 0 10px;
        flex-grow: 1;
    }
    .business-card img{
        width: 100%;
        height: max-content;
        margin: 1vw 0;
    }
    .business-card h3{
        font-size: 22px;
    }
}

@media (max-width: 768px){
    .business-card{
        height: 375px;
        width: 300px;
        margin: 0 10px;
        flex-grow: 1;
    }
    .business-card h3{
        font-size: 20px;
    }
    .business-card p,.hyper{
        font-size: 14px;
    }
    .business-card img{
        width: 100%;
        height: max-content;
        margin: 1vw 0;
    }
    .business-card p{
        margin: 1.5vw 0;
    }
}
/*AI BLUEPRINT CSS BEGINS*/
.blueprint .overlay-text{
    background: #fff;
    height: 340px;
    width: 500px;
    padding: 45px;
    top: 90px;
    left: 75px;
}

.blueprint .overlay-text button{
    height: 40px;
    width: 350px;
    font-size: 16px;
    font-weight: 600;
    background: var(--button-background);
    color: #fff;
    border: none;
    border-radius: 2px;
}
.blueprint .overlay-text button:hover{
    background: var(--text-blue);
}
@media (max-width: 1024px){
    .blueprint .overlay-text{
        height: 300px;
        width: 400px;
        padding: 2.5vw;
        top: 4.5vw;
        left: 4vw;
    }
    .blueprint .overlay-text h2{
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .blueprint .overlay-text{
        height: 250px;
        width: 350px;
        padding: 2vw;
        top: 3vw;
        left: 4vw;
    }
    .blueprint .overlay-text h2{
        font-size: 22px;
    }
    .blueprint .overlay-text p{
        font-size: 14px;
    }
    .blueprint .overlay-text button{
        height: 35px;
        width: 300px;
        font-size: 14px;
    }
}
/*AI BLUEPRINT CSS COMPLETES*/
/*SOCIALS CSS BEGINS*/
.socials{
    width: 90%;
    margin: 3vw auto;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}
.socials .follow{
    margin-right: 1vw;
    margin-top: 5px;
}
.socials i{
    color: var(--text-color);
    font-size: 24px;
    margin:0 20px;
}
@media (max-width:1024px) {
    .socials{
        width: 100%;
        margin: 2vw 10px;
    }
    .socials .follow{
        margin-right: 0;
    }
}
/*SOCIALS CSS COMPLETED*/
/*BACK TO TOP BUTTON CSS BEGINS*/
.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}
.scrollTop.show{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.scrollTop:hover{
    background: #fff;
    box-shadow: 0 1px 3px #dadada,
    1px 2px 2px #dadada,
    -1px -1px 2px #dadada;
    cursor: pointer;
}
.scrollTop p{
    padding-top: 15px;
    padding-left: 5px;
    color: #000;
    font-weight: 600;
}

/*FOOTER CSS BEGINS*/
.footer{
    height: 400px;
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw 3vw;
}
.block{
    height: 100%;
    width: 200px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vw 0;
}
.block h6{
    font-size: 15px;
    padding: 0.5vw 0;
    color: #616161;
}
.block li{
    list-style: none;
    font-size: 11px;
    padding: 0.5vw 0;
}
.block li a{
    color:#616161;
}
@media (max-width: 1024px){
    .footer{
        flex-wrap: wrap;
        height:max-content;
        padding: 1vw 1vw;
    }
    .block{
        height:270px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .footer{
        flex-wrap: wrap;
        height:max-content;
        padding: 1vw 1vw;
    }
    .block{
        height: max-content;
        width: 220px;
    }
    
}
/*FOOTER CSS COMPLETE*/