@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Cookie&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    height: 120vh;
    width: 100%;
}

/*HEADER SECTION BEGINS*/

.header{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.logo{
    position: relative;
    height: 200px;
    width: 50%;
    left: 100px;
    margin-left: auto;
    margin-right: auto;
}

#logoo{
    height: 180px;
    width: 180px;
}



.list{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.list li{
    padding: 2.5rem;
    list-style: none;
    font-size: 24px;
}

.list li:hover::before{
    content: "_______";
    position: absolute;
    height: 1px;
    width: 10px;
    top: 120px;
    color: white;
    cursor: pointer;
}


.nav-link{
    text-decoration: none;
    color: white;
}

/*HEADER SECTION COMPLETE*/


/*TRYING TO GIVE A VIDEO BACKGROUND AND AUDIO BACKGROUND TO THE MAIN SECTION*/

.main video{
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper{
    /* Telling our absolute positioned video to 
  be relative to this element */
    position: relative;
    height: 120vh;
    width: 100%;
    z-index: -1;

    /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aud audio{
    display: none;
}
/*AUDIO AND VIDEO ADDED*/

/*SECTION: SUBCATEGORY1*/

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    padding: 20px;
    height: 300px;
    width: 76%;
    left: 14%;
    color: white;
}

.para h1{
    font-size: 4rem;
    margin: 20px;
}

.para h1::after{
    content: "~the weeknd";
    font-size: 12px;
    font-style: italic;
    height: 12px;
    width: 30px;

}
.para h3{
    font-size: 2rem;
    margin: 20px;
    font-style: italic;
}
.para p{
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    line-height: 2rem;
}

/* SECTION: SUBCATEGORY2 */

.subcategory2{
    width: 100%;
}

.background2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.bg{
    position: relative;
    height: 120vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    filter: brightness(20%);
}

.overlay-text{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -130px;
    z-index: 1;
}

.biography{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
}

.dp{
    margin: 40px auto;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.biography h1{
    text-transform: uppercase;
    font-size: 36px;
    margin: 24px auto;
}

.biography span{
    font-size: 18px;
    margin: 0 auto;    
}

.biography p{
    margin: 20px auto;
    text-align: justify;
}
.biography h1::before{
    content: "a";
    font-style: regular;
    font-size: 52px;
}

.biography h1::after{
    position: relative;
    content: " .aka The Weeknd";
    font-style: bold;
    font-size: 16px;
    text-transform: none;
}

.info{
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
}

/*FOOTER CSS*/

.second{
    display: block;
}
.footer{
    display: block;
    width: 100%;
    position: absolute;
    margin: -170px auto;
}

.socials .platforms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials .platforms li{
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: 30px;
}

.socials .platforms li i{
    color: white;
}

.tandc .footbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tandc .footbar li{
    font-size: 24px;
    list-style: none;
    padding: 20px;
}

.tandc .footbar li a{
    text-decoration: none;
    color: white;
}

.tandc .footbar li:hover::before{
    content: "_______";
    position: absolute;
    height: 1px;
    width: 10px;
    top: 110px;
    color: white;
    cursor: pointer;
}