*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;

}

.container{
    width: 450px;
    height: 500px;
    position: relative;
}

/*OVERLAYING BOTH BULB ON AND BULB OFF IMAGE ON ONE ANOTHER TO CHANGE THEM WHEN CHECKBOX IS CLICKED*/

img{
    margin-top: -50px;
    position: absolute;
    margin: 0px auto;
}

#bulb-on{
    opacity: 0;
    animation: glow 3s linear infinite;
}

@keyframes glow{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* SWITCH BUTTON CSS*/

#btn{
    display: block;
    position: absolute;
    margin: 20px auto;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    bottom: 0;
    left: 42%;
    transform: translateX(-50%);
}

#btn span{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

#btn span::before{
    content: "Turn Off";
}

#switch:checked ~ #btn span::before{
    content: "Turn On";
}

#switch:checked ~ #btn{
    background-color: white;
    color: black;
}

#btn span:hover{
    background: #fff;
    color: #111;
}

#switch:checked ~ img#bulb-on{
    animation: none;
}

#switch{
    display: none;
  }
