@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Cookie&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Druk-Web', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 15rem;
}
body{
    height: 120vh;
    width: 100%;
}

/*HEADER SECTION BEGINS*/

.header{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.logo{
    position: relative;
    height: 200px;
    width: 50%;
    left: 100px;
    margin-left: auto;
    margin-right: auto;
}

#logoo{
    height: 180px;
    width: 180px;
}



.list{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.list li{
    position: relative;
    list-style: none;
    font-size: 24px;
    width: max-content;
    letter-spacing: 2px;
    cursor:default;
    
}

.list li:hover::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 50%;
    bottom: -5px;
    cursor:default;
}


.nav-link{
    text-decoration: none;
    color: white;
    cursor:default;

}

/*HEADER SECTION COMPLETE*/


/*TRYING TO GIVE A VIDEO BACKGROUND TO THE MAIN SECTION*/

.main{
    background: url("https://www.youtube.com/watch?v=Is14IzzmfuM") repeat fixed;
}

.main video{
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: brightness(30%);
}

.video-wrapper{
    /* Telling our absolute positioned video to 
  be relative to this element */
    position: relative;
    height: 110vh;
    width: 100%;
    z-index: -1;

    /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*SECTION: SUBCATEGORY1*/

.subcategory1{
    margin-bottom: 1rem;
}

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    padding: 20px;
    height: 300px;
    width: 76%;
    left: 14%;
    color: white;
    cursor:default;
}

.para h1{
    font-size: 4rem;
    margin: 20px;
    letter-spacing: 2px;
    cursor:default;
}

.para h1::after{
    content: "~theWeeknd";
    font-size: 12px;
    font-style: italic;
    height: 12px;
    width: 30px;
    cursor:default;

}
.para h3{
    font-size: 1.5rem;
    margin: 20px;
    font-style: italic;
    letter-spacing: 0.5em;
    cursor:default;
}

.para p{
    text-align: center;
    font-size: 1.1rem;
    margin: 10px;
    line-height: 2rem;
    letter-spacing: 2px;
    cursor:default;
}

.bg{
    position: relative;
    height: 120vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    visibility: hidden;
}

/* SECTION: SUBCATEGORY2 */

.subcategory2{
    width: 100%;
}
.background2{
    display: flex;
    flex-direction: column;
    position: relative;
}

.first{
    filter: brightness(20%);
}
.overlay-text{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -130px;
}

.biography{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: rgb(237, 226, 226);
}

.dp{
    margin: 40px auto;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.biography h1{
    text-transform: uppercase;
    font-size: 92px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 24px auto;
    letter-spacing: 2px;
    cursor:default;
}

.biography span{
    font-size: 28px;
    margin: 0 auto;  
    letter-spacing: 1.5px; 
    cursor:default; 
    font-family: 'Bebas Neue', sans-serif;
}

.biography p{
    margin: 25px auto;
    text-align: justify;
    cursor:default;
    
    font-size: 18px;
}


.biography h1::after{
    position: relative;
    content: " .aka TheWeeknd";
    font-style: bold;
    font-size: 12px;
    text-transform: none;
    cursor:default;
}

.info{
    margin: 40px auto;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    cursor:default;
    
}





/*DISCOGRAPHY CSS BEGINS HERE*/

.subcategory3{
    width: 100%;
    position: relative;
}
.background3{
    display: flex;
    flex-direction: column;
    position: relative;
}
.overlay-text2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -700px;
}
.discography{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: rgb(237, 226, 226);
    text-align: center;
    margin: 10rem auto 0 auto;
    cursor:default;
}

.discography h1{
    text-transform: uppercase;
    font-size: 80px;
    margin: 1rem auto;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', sans-serif;
}


.discography h1:hover::before,.discography h1:hover::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 10%;
    background: white;
    border-radius: 50%;
    color: black;
    top: 19%;
}



.discography h1::after{
    right: 24%;
}

.discography h1::before{
    left: 23%;
}

.discography h3{
    font-size: 1rem;
    margin: 0 auto 1rem auto;  
    letter-spacing: 1.5px; 
    font-weight: normal;
}

.discography h3 span{
    color: silver;
    font-size: 36px;
    text-shadow: 3px 1px 0px rgba(255, 255, 255, 0.3);
}

.mixtape{
    display: flex;
    flex-direction: column;
    /*color: rgb(237, 226, 226);*/
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 0.01px white;
}

.mixtape h2{
    position: relative;
    margin: 2rem auto;
    font-size: 45px;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
}

/*THE TRILOGY GRID*/

.the-trio{
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.embed{
    margin-left: 1rem;
    opacity: 0.4;
}
.card{
    height: 325px;
    width: 350px;
    background: rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 35px black, 0px 0px 25px black;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}
.card:hover{
    background: rgba(0, 0, 0, 0.1);
}
.card .heading{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    cursor:default;
}

.gradient{
    margin: 3px 0;
    height: 30px;
    width: 40%;
    position: relative;
}
.left{
    background: linear-gradient(90deg, red , black);
}
.middle{
    background: linear-gradient(90deg, gray , black);
}
.right{
    background: linear-gradient(90deg, yellow , rgb(1, 202, 1), rgb(255, 89, 0) ,rgb(74, 74, 158), skyblue);
}

.gradient::after{
    content: "";
    position: absolute;
    left: 6.2em;
    height: 30px;
    width: 60%;
    font-size: 22px;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.middle::after{
    content:"HouseOfBalloons";
}
.left::after{
    content: "EchoesOfSilence";
}
.right::after{
    content: "Thursday";
}

.eos p{
    font-size: .55em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.hob p{
    font-size: .50em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.thursday p{
    font-size: .50em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.albumart img{
    width: 100%;
    object-fit: cover;
}

/*SPOTIFY VISIBLE ON CARD HOVER*/

.echo:hover{
    opacity: 1;
    transition: opacity 1s;
}

.house:hover{
    opacity: 1;
    transition: opacity 1s;
}

.thurs:hover{
    opacity: 1;
    transition: opacity 1s;
}

/* 5 ALBUMS CARD CSS */


.background4{
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay-text3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -220px;
}


.studio{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.studio h2{
    position: relative;
    margin: 0 auto 2rem auto;
    font-size: 45px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 0.01px white;
}

.thefifer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    height: max-content;
    width: 60%;
    border: 1px solid black;
    margin: 3rem 0;
}

/*INVERTING THE GRID TEMPLATE IN OPPOSITE ORDER ONE AFTER THE OTHER*/
.box:nth-child(even){
    grid-template-columns: 1fr 2fr;
}

.coverart{
    display: flex;
    flex-direction: column;
}

.namealbum{
    height: max-content;
    width: 100%;
    z-index: 1;
}

/*PARTICULAR KISSLAND CSS*/

.kissland{
    border: none;
}

.kissland:hover > img{
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
}


.kissland:hover > .coverart h1{
    transform: translateX(4rem);
    transition: transform 0.5s linear;
}

.kissland:hover > .coverart .songs{
    opacity: 1;
    transform: translateX(0rem);
    transition: transform 0.5s linear;
}
.kissland img{
    height: 400px;
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    filter: grayscale(50%);
}

.kl{
    position: relative;
    left: -5rem;
    margin: auto auto;
}

.kl h1{
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 92px;
} 

.kl h1::after{
    content: "2013";
    position: absolute;
    font-size: 18px;
    letter-spacing: 1.5px;
} 



.kl .songs{
    opacity: 0.6;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 4rem;
    letter-spacing: 1.5px;
}


/*PARTICULAR BBTM CSS*/

.bbtm{
    border: none;
}

.bbtm img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    filter: grayscale(50%);
    z-index: -1;
}

.bbtm:hover > img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
}


.bbtm:hover > h1{
    transform: translateX(-4rem);
    transition: transform 0.5s linear;
}

.bbtm:hover > .coverart .songs{
    opacity: 1;
    transform: translateX(0rem);
    transition: transform 0.5s linear;
}

.bb{
    position: relative;
    left: 0rem;
    bottom: -9rem;
}


.bbtm h1{
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 84px;
    left: 4rem;
    top: 2rem;
}

.bbtm h1::after{
    content: "2015";
    position: absolute;
    font-size: 18px;
    letter-spacing: 1.5px;
} 



.bb .songs{
    opacity: 0.6;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 1rem;
    letter-spacing: 1.5px;
    text-align: right;
}





/*STARBOY CSS*/

.starboy{
    border: none;
}

.starboy:hover > img{
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
}


.starboy:hover > .coverart h1{
    transform: translateX(4rem);
    transition: transform 0.5s linear;
}

.starboy:hover > .coverart .songs{
    opacity: 1;
    transform: translateX(0rem);
    transition: transform 0.5s linear;
}
.starboy img{
    height: 500px;
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    filter: grayscale(0%);
}

.sb{
    position: relative;
    left: -5rem;
    margin: auto auto;
}

.sb h1{
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 92px;
} 

.sb h1::after{
    content: "2016";
    position: absolute;
    font-size: 18px;
    letter-spacing: 1.5px;
} 



.sb .songs{
    opacity: 0.6;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 4rem;
    letter-spacing: 1.5px;
}


/*AFTER HOURS CSS*/

.afterhours{
    border: none;
}

.afterhours img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    filter: grayscale(50%);
    z-index: -1;
}

.afterhours:hover > img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
}


.afterhours:hover > h1{
    transform: translateX(-4rem);
    transition: transform 0.5s linear;
}

.afterhours:hover > .coverart .songs{
    opacity: 1;
    transform: translateX(0rem);
    transition: transform 0.5s linear;
}

.ah{
    position: relative;
    left: 0rem;
    bottom: -9rem;
}

.afterhours h1{
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 92px;
    left: 1rem;
    top: 2rem;
}

.afterhours h1::after{
    content: "2020";
    position: absolute;
    font-size: 18px;
    letter-spacing: 1.5px;
} 



.ah .songs{
    opacity: 0.6;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 1rem;
    letter-spacing: 1.5px;
    text-align: right;
}


/*103.5 DAWN FM CSS */


.dawnfm{
    border: none;
}

.dawnfm:hover > img{
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
}


.dawnfm:hover > .coverart h1{
    transform: translateX(4rem);
    transition: transform 0.5s linear;
}

.dawnfm:hover > .coverart .songs{
    opacity: 1;
    transform: translateX(0rem);
    transition: transform 0.5s linear;
}
.dawnfm img{
    height: 500px;
    width: 95%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    filter: grayscale(0%);
}

.df{
    position: relative;
    left: -5rem;
    margin: auto auto;
}

.df h1{
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 92px;
} 

.df h1::after{
    content: "2022";
    position: absolute;
    font-size: 18px;
    letter-spacing: 1.5px;
} 



.df .songs{
    opacity: 0.6;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 4rem;
    letter-spacing: 1.5px;
}


/*ACHIEVEMENTS CSS*/

.subcategory4{
    position: relative;
    top: 5rem;
    height: 150vh;
    width: 100%;
}

.subcategory4 h1{
    color: rgb(237, 226, 226);
    width: 80%;
    position: relative;
    margin: 5rem auto 5rem auto;
    text-align: center;
    cursor:default;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.subcategory4 h1:hover::before,.subcategory4 h1:hover::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 10%;
    background: white;
    border-radius: 50%;
    color: black;
}

.subcategory4 h1:hover::before{
    left: 16%;
    top: 3rem;
}

.subcategory4 h1:hover::after{
    top: 3rem;
    right: 16%;
}

.grid-parent{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 3;
    gap: 2rem;
}

.year{
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    height: 300px;
    width: 100%;
    margin: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.early:hover > h2{
    opacity: 0;
}

.filter{
    font-size: 64px;
    position: absolute;
    letter-spacing: 25px;
    font-family: 'Bebas Neue', sans-serif;
    left: 0; 
    right: 0; 
    top: 35%;
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
    color: white;
    width: max-content;
}


.grid-container:hover .slider{
    animation-play-state: paused;
}

.slider{
    display: inline-block;
    animation: 7s slideright linear infinite;
}

@keyframes slideright{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100%);
    }
}

.slider img{
    height: 300px;    
    object-fit: cover;
    margin: 0 1rem;
}

/*ADDING OVERLAY TEXT TO EACH IMG*/


























/*FOOTER CSS*/

.second{
    display: block;
    filter: brightness(20%);
}
.footer{
    display: block;
    width: 100%;
    position: absolute;
    margin: -180px auto;
}

.socials .platforms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials .platforms li{
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: 35px;
}

.socials .platforms li:hover{
    cursor: pointer;
    transform: translateY(-1px);
    transition: all 0.2s ease-in-out;
}

.socials .platforms li i{
    color: white;
}

.tandc .footbar{
    margin: 5px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tandc .footbar li{
    position: relative;
    font-size: 20px;
    list-style: none;
    width: max-content;
}

.tandc .footbar li a{
    text-decoration: none;
    color: white;
}

.tandc .footbar li:hover::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
