@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Cookie&family=Lato&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Druk-Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    height: 120vh;
    width: 100%;
}

/*HEADER SECTION BEGINS*/

.header{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.logo{
    position: relative;
    height: 200px;
    width: 50%;
    left: 100px;
    margin-left: auto;
    margin-right: auto;
}

#logoo{
    height: 180px;
    width: 180px;
}



.list{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.list li{
    position: relative;
    list-style: none;
    font-size: 24px;
    width: max-content;
    letter-spacing: 2px;
    cursor:default;
}

.list li:hover::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 50%;
    bottom: -5px;
    cursor:default;
}


.nav-link{
    text-decoration: none;
    color: white;
    cursor:default;
}

/*HEADER SECTION COMPLETE*/


/*TRYING TO GIVE A VIDEO BACKGROUND AND AUDIO BACKGROUND TO THE MAIN SECTION*/

.main video{
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper{
    /* Telling our absolute positioned video to 
  be relative to this element */
    position: relative;
    height: 110vh;
    width: 100%;
    z-index: -1;

    /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aud audio{
    display: none;
}
/*AUDIO AND VIDEO ADDED*/

/*SECTION: SUBCATEGORY1*/

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    padding: 20px;
    height: 300px;
    width: 76%;
    left: 14%;
    color: white;
    cursor:default;
}

.para h1{
    font-size: 4rem;
    margin: 20px;
    letter-spacing: 2px;
    cursor:default;
}

.para h1::after{
    content: "~theWeeknd";
    font-size: 12px;
    font-style: italic;
    height: 12px;
    width: 30px;
    cursor:default;

}
.para h3{
    font-size: 1.5rem;
    margin: 20px;
    font-style: italic;
    letter-spacing: 0.5em;
    cursor:default;
}

.para p{
    text-align: center;
    font-size: 1.1rem;
    margin: 10px;
    line-height: 2rem;
    letter-spacing: 2px;
    cursor:default;
}

.bg{
    position: relative;
    height: 120vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
}

/* SECTION: SUBCATEGORY2 */

.subcategory2{
    width: 100%;
}
.background2{
    display: flex;
    flex-direction: column;
    position: relative;
}

.first{
    filter: brightness(20%);
}
.overlay-text{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -130px;
}

.biography{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: rgb(237, 226, 226);
}

.dp{
    margin: 40px auto;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.biography h1{
    text-transform: uppercase;
    font-size: 36px;
    margin: 24px auto;
    letter-spacing: 2px;
    cursor:default;
}

.biography span{
    font-size: 18px;
    margin: 0 auto;  
    letter-spacing: 1.5px; 
    cursor:default; 
}

.biography p{
    margin: 25px auto;
    text-align: justify;
    cursor:default;
}
.biography h1::before{
    content: "a";
    font-style: regular;
    font-size: 52px;
    cursor:default;
}

.biography h1::after{
    position: relative;
    content: " .aka TheWeeknd";
    font-style: bold;
    font-size: 12px;
    text-transform: none;
    cursor:default;
}

.info{
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
    cursor:default;
}





/*DISCOGRAPHY CSS BEGINS HERE*/

.third{
    display: block;
    filter: brightness(100%);
    height: 130vh;
    position: relative;
}

.subcategory3{
    width: 100%;
    position: relative;
}
.background3{
    display: flex;
    flex-direction: column;
    position: relative;
}
.overlay-text2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -400px;
}
.discography{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: rgb(237, 226, 226);
    text-align: center;
    margin: 1rem auto;
    cursor:default;
}

.discography h1{
    text-transform: uppercase;
    font-size: 80px;
    margin: 1rem auto;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.discography h1::after,.discography h1::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 10%;
    background: white;
    border-radius: 50%;
}

.discography h1::after{
    right: 23%;
    top: 12%;
}

.discography h1::before{
    left: 23%;
    top: 12%;
}




.discography h3{
    font-size: 1rem;
    margin: 0.2rem auto;  
    letter-spacing: 1.5px; 
    font-weight: normal;
}

.discography h3 span{
    color: silver;
    font-size: 36px;
    text-shadow: 3px 1px 0px rgba(255, 255, 255, 0.3);
}

.mixtape{
    display: flex;
    flex-direction: column;
    color: rgb(237, 226, 226);
    width: 100%;
}

.mixtape h2{
    position: relative;
    margin: 2rem auto;
    font-size: 45px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
}

/*THE TRILOGY GRID*/

.the-trio{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    perspective: 350px;
}
.card{
    height: 325px;
    width: 350px;
    background: rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 35px black, 0px 0px 25px black;
    padding: 1em;
    color: rgb(255, 255, 255);
}
.card:hover{
    transform: translateZ(5px);
    background: rgba(0, 0, 0, 0.3);
    /*box-shadow: inset 0px 0px 15px black, 0px 0px 10px black;*/
    transition: transform 300ms linear;
}
.card .heading{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    cursor:default;
}

.gradient{
    margin: 3px 0;
    height: 30px;
    width: 40%;
    position: relative;
}
.left{
    background: linear-gradient(90deg, red , black);
}
.middle{
    background: linear-gradient(90deg, gray , black);
}
.right{
    background: linear-gradient(90deg, yellow , rgb(1, 202, 1), rgb(255, 89, 0) ,rgb(74, 74, 158), skyblue);
}

.gradient::after{
    content: "";
    position: absolute;
    left: 6.2em;
    height: 30px;
    width: 60%;
    font-size: 22px;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.middle::after{
    content:"HouseOfBalloons";
}
.left::after{
    content: "EchoesOfSilence";
}
.right::after{
    content: "Thursday";
}

.eos p{
    font-size: .55em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.hob p{
    font-size: .50em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.thursday p{
    font-size: .50em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 10px;
    margin: 1px 0;
    cursor:default;
}

.albumart img{
    width: 100%;
    object-fit: cover;
}

/*MIXTAPE SPOTIFY CSS*/

.mixtape-spotify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.mixtape-spotify .embed{
    position: absolute;
    top: 3rem;
    width: 22%;
}


.thurs{
    right: 11.7rem;
}

.house{
    align-items: center;
}

.echo{
    left: 11.7rem;
}




/* 5 ALBUMS CARD CSS */


.background4{
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay-text3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -180px;
}


.studio{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    margin: 5rem auto;
}

.studio h2{
    position: relative;
    margin: 0 auto;
    font-size: 45px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
}



























/*FOOTER CSS*/

.second{
    display: block;
    filter: brightness(20%);
}
.footer{
    display: block;
    width: 100%;
    position: absolute;
    margin: -180px auto;
}

.socials .platforms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials .platforms li{
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: 35px;
}

.socials .platforms li:hover{
    cursor: pointer;
    transform: translateY(-1px);
    transition: all 0.2s ease-in-out;
}

.socials .platforms li i{
    color: white;
}

.tandc .footbar{
    margin: 5px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tandc .footbar li{
    position: relative;
    font-size: 20px;
    list-style: none;
    width: max-content;
}

.tandc .footbar li a{
    text-decoration: none;
    color: white;
}

.tandc .footbar li:hover::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
