body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    perspective: 100px;
}
.slider{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

/*SETTING UP THE SLIDE TRACK*/

.slide-track{
    display: flex;
    height: 500px;
    width: calc(450px*12);
    animation: horiscroll 8s ease-in-out infinite;
}

.slide{
    height: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
    transition: transform 1s ease;
}
img{
    height: 60%;
    width: 100%;
}

/*GRADIENT SHADOWS*/

.slider::before, .slider::after{
    background: linear-gradient(90deg, rgba(0,0,0, 1) 0%, transparent 100%);
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*IMAGE HOVER EFFECT*/

img:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateZ(1em);
    transition: 0.8s;
}

/*ENABLING AUTO SCROLL*/

@keyframes horiscroll{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(calc(-250px * 6));
    }
    100%{
        transform: translateX(calc(0px * 6));
    }
}

.slide-track:hover{
    animation-play-state: paused;
}
